doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    <!-- Style Sheets ----------------------------------------------------->
    link(rel="stylesheet" href="/mod/bs/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/general-style.css")

    style(type='text/css').
      .layer-switcher .panel:hover {
        overflow-y: auto;
        width: auto;
      }

    block styles
    title.
      VCORE | #{title}

  body
    header.fixed-top
      nav.navbar.navbar-expand-md.navbar-light.bg-light
        span.navbar-brand.mb-0.h1

    block body

  footer

  <!-- Scripts ---------------------------------------------------------------->
  script(src="/mod/jq/jquery.slim.min.js")
  script(src="/mod/bs/js/bootstrap.bundle.min.js")

  block scripts
