extends base.pug

block styles
  link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet" href="/mod/ol/ol.css")
  link(rel="stylesheet" href="/mod/ol-ls/ol-layerswitcher.css")
  link(rel="stylesheet" href="/mod/ol-cm/ol-contextmenu.min.css")
  link(rel="stylesheet" href="/mod/ol-pu/ol-popup.css")
  link(rel="stylesheet" href="/stylesheets/sidebar.min.css")
  link(rel="stylesheet" href="/stylesheets/map-style.css")
  style(type='text/css').
    .sidebar-p {
      color: #696969;
    }
    .sidebar-h5 {
      color:#778ba5;
      font-weight: bold;
    }

block body
  #sidebar.sidebar.collapsed
    .sidebar-tabs
      ul(role="tablist")
        li
          a(href="#home" role="tab")
            i.fa.fa-bars
    .sidebar-content
      .sidebar-pane#home
        h1.sidebar-header About Us
          span.sidebar-close
            i.fa.fa-caret-left
        p.sidebar-p
          | The <strong>Lower Rio Grande Salinity Forecast (LRGSF)</strong> site aims to provide the residents living in the Rio Grande Valley (RGV) accurate past, current, and future salinity values of the Rio Grande River. Salinity levels can have a detramental effect on our ecosystem and it is important that we have a system in place to monitor those levels.
  #map

block scripts
  //- Remember to move this to public!!!
  script(src="/javascripts/map.js" type="application/javascript")
